<template>
  <div class="modal fade" ref="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ title }}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            @click="save"
          ></button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered m-0">
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th class="text-center py-3 px-4" style="min-width: 220px">
                      Name
                    </th>
                    <th class="text-right py-3 px-4" style="width: 200px">
                      Properties
                    </th>
                    <th class="text-right py-3 px-4" style="width: 200px">
                      ID
                    </th>
                    <th
                      class="text-center align-middle py-3 px-3"
                      style="width: 80px"
                    >
                      Operations
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="products.length === 0">
                    <td class="text-center text-box-shadow" colspan="4">
                      <h2>Cart is Empty</h2>
                    </td>
                  </tr>
                  <tr
                    v-else
                    v-for="product in products"
                    :key="product.id"
                    class="cart-item"
                  >
                    <CartItem :product="product" />
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            @click="save"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import CartItem from "@/components/Cart/CartItem.vue";

import { ICartProduct, IProduct } from "@/types/StateProductTypes.interface";
export default defineComponent({
  name: "CartModal",
  data() {
    return {
      title: "Cart",
      body: "Modal Body",
      products: [] as ICartProduct[],
    };
  },
  components: {
    CartItem,
  },
  computed: {
    getProductCount(): number {
      return this.$store.state.cart.productCount;
    },
  },
  created() {
    this.products = this.$store.state.cart.products;
  },
  methods: {
    show() {
      // show the modal
      const modal = this.$refs.modal as HTMLElement;
      modal.classList.add("show");
      modal.style.display = "block";
      document.body.classList.add("modal-open");
    },
    hide() {
      // hide the modal
      const modal = this.$refs.modal as HTMLElement;
      modal.classList.remove("show");
      modal.style.display = "none";
      document.body.classList.remove("modal-open");
    },
    save() {
      // save changes
      this.hide();
    },
  },
  watch: {
    "$store.state.cart.products": {
      handler(products: IProduct[]) {
        this.products = products;
      },
      deep: true,
    },
  },
});
</script>
<style lang="scss">
.modal-body {
  overflow: scroll;
  max-height: 32rem;
}
.text-box-shadow {
  text-shadow: 1px 1px 1px #bfecf7;
  font-family: Montserrat, sans-serif;

  color: #030e3d;
}
</style>
