<template>
  <td class="p-4">
    <div
      class="media d-flex w-auto align-items-center justify-content-start gap-3 flex-column"
    >
      <img
        class="d-block ui-w-140 ui-bordered mr-4"
        :src="require(`@/assets/images/${product?.type}.jpg`)"
        :alt="`${product?.type}`"
      />
      <div class="cart-item-product-info text-box-shadow">
        <h5
          v-if="product.type !== undefined"
          class="cart-item-product-title text-box-shadow"
        >
          {{ product?.type.toUpperCase() }}
        </h5>
      </div>
    </div>
  </td>
  <td class="p-4 cart-item-specs overflow-auto">
    <div class="cart-item-specs overflow-auto d-flex flex-column">
      <table class="table table-striped mb-0">
        <thead class="thead-light table-primary">
          <tr>
            <th style="width: 30%" class="text-start" scope="col">Property</th>
            <th class="text-end" scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in product" :key="index">
            <td
              v-if="index !== 'id' && index !== 'type'"
              class="d-flex justify-content-between text-box-shadow"
            >
              {{ index.toUpperCase() }}
            </td>
            <td
              class="text-box-shadow text-end"
              v-if="index !== 'id' && index !== 'type'"
            >
              <div v-if="item !== undefined">
                {{ isPropertyElement(item) ? item.options[0]?.name : item }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </td>

  <td class="align-middle p-4">
    <h4
      v-if="product.id !== undefined"
      class="cart-item-product-title text-box-shadow"
    >
      #{{ product?.id }}
    </h4>
  </td>
  <td class="text-center align-middle px-0">
    <span @click="removeFromCart" class="remove-item"
      ><i class="fa fa-trash"> </i
    ></span>
  </td>
</template>

<script lang="ts">
import { PropertyElement } from "@/types/ProductTypes.interface";
import { ICartProduct } from "@/types/StateProductTypes.interface";
import { defineComponent } from "vue";
import { mapActions } from "vuex";

export default defineComponent({
  name: "CartItem",
  props: {
    product: {
      type: Object as () => ICartProduct,
      required: true,
    },
  },
  methods: {
    ...mapActions(["deleteProduct"]),
    removeFromCart() {
      const productId = this.product?.id;

      this.deleteProduct(productId);
    },
    isPropertyElement(item: string | PropertyElement): item is PropertyElement {
      return typeof item !== "string";
    },
  },
});
</script>

<style lang="scss" scoped>
table {
  table-layout: fixed;
  word-wrap: break-word;
}
.cart-item .cart-item-product-title {
  margin-bottom: 8px;
  transition: color, 0.3s;
  font-size: 16px;
  font-weight: bold;
}
.cart-item .cart-item-product:hover .cart-item-product-title {
  color: #ac32e4;
}
.cart-item .cart-item-product-info > span {
  display: block;
  margin-bottom: 2px;
  color: #404040;
  font-size: 12px;
}

.ui-w-140 {
  width: 140px !important;
  height: auto;
}

.text-box-shadow {
  text-shadow: 1px 1px 1px #bfecf7;
  font-family: Montserrat, sans-serif;

  color: #030e3d;
}

.cart-item-specs {
  max-height: 11.5rem;
  width: 100%;
}
.remove-item {
  cursor: pointer;
  color: darkred;
}
</style>
