<template>
  <nav
    class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center"
  >
    <div class="container-fluid gap-2">
      <a class="navbar-brand pe-4 border-end" href="javascript:void(0)"
        ><router-link to="/">Home</router-link></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mynavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a id="posters" class="nav-link" href="javascript:void(0)"
              ><router-link to="/products/posters">Posters</router-link></a
            >
          </li>
          <li class="nav-item">
            <a id="flyers" class="nav-link" href="javascript:void(0)"
              ><router-link to="/products/flyers">Flyers</router-link></a
            >
          </li>
          <li class="nav-item">
            <a id="businesscards" class="nav-link" href="javascript:void(0)"
              ><router-link to="/products/businesscards"
                >Business Cards</router-link
              ></a
            >
          </li>
        </ul>
      </div>
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a @click="showModal" class="text-reset me-3" href="#">
          <i class="fas fa-shopping-cart text-white"></i>
        </a>
        <CartModal ref="modal" />
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
type ModalRefType = HTMLDivElement & {
  show: () => void;
  hide: () => void;
};
import { defineComponent } from "vue";
import CartModal from "@/components/Cart/CartModal.vue";

export default defineComponent({
  name: "NavBar",
  components: {
    CartModal,
  },
  methods: {
    showModal() {
      const modalRef = this.$refs.modal as ModalRefType;
      modalRef.show();
    },
  },
});
</script>
