<template>
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          :data-bs-target="`#collapse${property.slug}`"
          aria-expanded="false"
          :aria-controls="`collapse${property.slug}`"
        >
          {{ property.title }}
        </button>
      </h2>
      <div :id="`collapse${property.slug}`" class="accordion-collapse collapse">
        <div class="accordion-body">
          <table class="table table-striped mb-0">
            <tbody>
              <tr
                v-for="option in property.options"
                :key="option.slug"
                class="form-check"
                @click="$emit('select')"
              >
                <td
                  class="d-flex text-box-shadow d-flex justify-content-between"
                  v-if="option.name !== undefined"
                >
                  <div>
                    <input
                      class="form-check-input options-radio-button"
                      type="radio"
                      :name="`Radio${property.slug}`"
                      :value="option.name"
                      :id="`Radio${property.slug}${option.slug}`"
                      :checked="selectedOption === option.name"
                      @change="(event) => updateOption(event, option)"
                    />
                    <label
                      :for="`Radio${property.slug}${option.slug}`"
                      class="form-check-label"
                    >
                      {{ option.name }}
                    </label>
                  </div>
                  <div v-if="option.eco === true">
                    <img
                      :src="require(`@/assets/images/eco.png`)"
                      class="w-50"
                    />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { PropertyElement, OptionElement } from "@/types/ProductTypes.interface";
import { mapMutations } from "vuex";

export default defineComponent({
  name: "OptionsCard",
  props: {
    property: {
      type: Object as () => PropertyElement,
      required: true,
    },
    productType: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      selectedOption: "",
    };
  },
  methods: {
    ...mapMutations(["UPDATE_PROPERTY"]),
    updateOption(event: Event, option: OptionElement) {
      const newProperty: PropertyElement = {
        ...this.property,
        options: [option],
      };
      this.UPDATE_PROPERTY({
        objectKey: this.productType,
        propertySlug: newProperty.slug,
        property: newProperty,
      });
    },
  },
});
</script>

<style lang="scss">
.accordion {
  margin-bottom: 0.5rem;
}
.accordion-body {
  text-align: left;
  overflow: auto;
  max-height: 12rem;
  padding: 0 !important;
}
.options-radio-button {
  margin-left: 0 !important;
}
.form-check {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
</style>
