<template>
  <div class="sidebar-container">
    <div v-for="property in propertyJson.properties" :key="property.slug">
      <OptionsCard :property="property" :productType="productType" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import OptionsCard from "@/components//Layout/Sidebar/OptionsCard.vue";
import { ProductTypes } from "@/types/ProductTypes.interface";

export default defineComponent({
  name: "SideBar",
  components: {
    OptionsCard,
  },
  props: {
    productType: {
      type: String,
      required: true,
    },
    propertyJson: {
      type: Object as () => ProductTypes,
      required: true,
    },
  },
});
</script>

<style lang="scss">
.sidebar-container {
  max-height: calc(100vh - 90px);
  overflow: scroll;
}
</style>
