<template>
  <div class="container-fluid container-single" style="background-color: #eee">
    <div class="row">
      <div class="col-12 col-sm-4 col-md-3 py-3">
        <SideBar :propertyJson="propertyJson" productType="businesscards" />
      </div>
      <div class="col-12 col-sm py-3">
        <div class="row">
          <div class="col p-2">
            <ProductCard
              :propertyJson="propertyJson"
              productType="businesscards"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import businesscardsJson from "@/assets/businesscards.json";
import SideBar from "@/components/Layout/Sidebar/SideBar.vue";
import ProductCard from "@/components/Layout/Content/ProductCard.vue";
import { ProductTypes } from "@/types/ProductTypes.interface";

export default defineComponent({
  name: "BusinessCardsView",
  components: {
    SideBar,
    ProductCard,
  },
  data() {
    return {
      propertyJson: businesscardsJson as ProductTypes,
    };
  },
});
</script>
