<template>
  <div class="jumbotron d-flex align-items-center min-vh-100">
    <div class="container">
      <img alt="Vue logo" src="../assets/images/logo.png" />
      <LandingPage msg="Welcome to Product Selector" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import LandingPage from "@/components/Layout/Content/LandingPage.vue";

export default defineComponent({
  name: "HomeView",
  data() {
    return {
      flyers: JSON,
    };
  },
  components: {
    LandingPage,
  },
});
</script>
