<template>
  <section style="background-color: #eee">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-10">
          <div class="card flex-row product-card">
            <div
              class="bg-image hover-zoom ripple ripple-surface ripple-surface-light card-image"
              data-mdb-ripple-color="light"
            >
              <img
                :src="require(`@/assets/images/${productType}.jpg`)"
                class="w-100"
              />
              <a href="#!">
                <div class="mask">
                  <div
                    class="d-flex justify-content-start align-items-end h-100"
                  >
                    <h5><span class="badge bg-primary ms-2">New</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.15)"
                  ></div>
                </div>
              </a>
            </div>
            <div class="card-body card-properties">
              <div>
                <h5 class="card-title mb-4">{{ productType.toUpperCase() }}</h5>
                <p class="text-muted mb-4"></p>
              </div>
              <div class="properties-container border-top border-bottom">
                <table class="table table-striped mb-0">
                  <thead class="thead-light table-primary">
                    <tr>
                      <th style="width: 25%" class="text-start" scope="col">
                        Property
                      </th>
                      <th class="text-end" scope="col">Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="property in propertyJson.properties"
                      :key="property.slug"
                      class="text-start"
                    >
                      <td class="d-flex text-box-shadow">
                        {{ property.title }}
                      </td>
                      <td class="text-box-shadow text-end">
                        {{
                          $store.getters.getOptionsName(
                            productType,
                            property.slug
                          )
                        }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div
                class="d-flex justify-content-end total font-weight-bold mt-4"
              >
                <button
                  @click="addToCart"
                  type="button"
                  class="btn btn-primary add-to-cart"
                >
                  <i class="fas fa-shopping-cart me-2 text-white"></i>
                  Add Cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { ProductTypes, PropertyElement } from "@/types/ProductTypes.interface";
import { mapActions } from "vuex";
import { ICartProduct, IProduct } from "@/types/StateProductTypes.interface";

export default defineComponent({
  name: "ProductCard",
  props: {
    productType: {
      type: String,
      required: true,
    },
    propertyJson: {
      type: Object as () => ProductTypes,
      required: true,
    },
  },
  methods: {
    excludeChecker(productWithId: IProduct) {
      const excludeJSON = this.propertyJson.excludes;
      const notCompatibles = excludeJSON.map((excludes) => {
        return excludes.map((exclude) => {
          const flagList = [];
          const getProductProperty = productWithId[
            exclude.property as keyof IProduct
          ] as PropertyElement;
          const selectedOptionSlugFromUser = getProductProperty.options[0].slug;
          const selectedOptionFromUser = getProductProperty.options[0].name;
          const isSelectedOptionInExcludeList = exclude.options.includes(
            selectedOptionSlugFromUser
          );
          const pair = {
            property: getProductProperty.title,
            name: selectedOptionFromUser,
            slug: selectedOptionSlugFromUser,
            flag: isSelectedOptionInExcludeList,
          };
          flagList.push(pair);

          return flagList;
        });
      });
      const filteredNotCompatibles = notCompatibles.filter((flagList) => {
        return flagList.every((flag) => flag[0].flag);
      });
      const notCompatiblesTexts = filteredNotCompatibles.map(
        (notCompatible) => {
          return notCompatible
            .map((item) => {
              return `${item[0].name}[${item[0].property}]`;
            })
            .join(" | ");
        }
      );
      return notCompatiblesTexts;
    },
    ...mapActions(["addProduct"]),
    addToCart() {
      const product = this.$store.getters.getObject(this.productType);
      const productId = this.$store.getters.getProductCount;
      const productWithId: ICartProduct = {
        ...product,
        id: productId + 1,
        type: this.productType,
      };
      const notCompatibles = this.excludeChecker(product);
      if (notCompatibles.length == 0) {
        this.addProduct(productWithId);
        this.$toast.open({
          message: `${this.productType.toUpperCase()} number ${
            productId + 1
          } has been successfully added`,
          type: "success",
          duration: 4000,
        });
      } else {
        notCompatibles.map((notCompatible) => {
          this.$toast.open({
            message: `The given combinations are incompatible -> ${notCompatible}`,
            type: "error",
            duration: 20000,
          });
        });
      }
    },
  },
});
</script>

<style lang="scss">
.properties-container {
  max-height: 30rem;
  overflow: auto;
}
.card-image {
  width: 40%;
  display: flex;
}
.card-properties {
  width: 60%;
}
.product-card {
  margin-top: 6.5rem;
}
</style>
